#logo {
    background: url(../img/logobox.jpg) no-repeat;
    width: 194px;
    height: 225px;
    margin-top: 4px;
    text-align: center;
}

#logo img {
    margin-top: 85px;
}

#sidebar {
    float: left;
    width: 210px;
}

#pageState {
    padding-top: 100px;
    padding-left: 250px;
    padding-bottom: 50px;
}

#userState {
    padding-top: 50px;
    padding-left: 250px;
    padding-bottom: 50px;
}

#pageContentEditor:focus {
    background-color: #f3f2ea;
}

#pageSave {
    float: right;
}

#pageAddLink {
    margin-left: 25px;
}

.menuItems {
    list-style-type: none;
}

.menuItems>li {
    padding-top: 5px;
}

.menuItems>li>.dropdown {
    float: right;
    display: inline;
}

.menuItems>li>a {
    color: #181101;
    font-size: 10pt;
}

.menuItems>li>a:hover {
    color: #6F571C;
    text-decoration: none;
}