#login {
	float: right;
	margin: 4px 0 0 0;
	padding: 4px;
}

#login p {
	display: inline;
	font-size: 10pt;
	color: #7D7257;
}

#login div {
	display: inline;
	font-size: 10pt;
	float: right;
}

#login #inValidLogin {
	color: red;
}